.page-footer
  .container
    .copyright
      %b
        Criando com
        %i.material-icons.copyright-icon favorite
        no
        %a.copyright-link{:href => "http://onebitcode.com/bootcamp-one-bit-code/"} Bootcamp OneBitCode
